/* Drop down menu on top nav bar */
.dropdown-menu {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Hide index page before login */
  #indexPage {
    display: none;
  }

  #ledgerPage {
    display: none;
  }
  
  